* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 3.3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

.logo {
  height: 2.2em;
}

.main-nav-list {
  display: inline-block;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b8651b;
}

.btn-cta:link,
.btn-cta:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  color: #fff;
  background-color: #944805;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #b8651b;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 9.6rem;
  padding: 4.8rem 0 4.8rem 0;
  background-color: #fdf2e9;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
  margin-bottom: 9.2rem;
  padding: 0 3.2rem;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding: 0 3.2rem;
  /* background-color: rgb(201, 177, 177); */
}

.hero-img {
  width: 100%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #2c1601;
  font-size: 3.5rem;
}

.heading-primary {
  margin-bottom: 3.2rem;
  letter-spacing: -1;
}

.heading-secondary {
  margin-bottom: 3.2rem;
}

.sub-heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #944805;
  line-height: 0.75;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  text-decoration: none;
  transition: all 1s;

  border: none;
  cursor: pointer;
  font-family: sans-serif;
}

.btn--full:link,
.btn--full:visited {
  background-color: #b8651b;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #522703;
  color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: rgb(243, 242, 242);
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-margin {
  margin-right: 1.6rem;
}

.btn-form {
  color: #fff;
  background-color: #2c1601;
  align-self: end;
}

.delivery-meals {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-top: 3rem;
}

.delivery-imgs {
  display: flex;
}

.delivery-imgs img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}

.delivery-imgs:last-child {
  margin: 0;
}

.delivery-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.delivery-text span {
  color: #944805;
  font-weight: 700;
}

.rowgap {
  display: grid;
  row-gap: 6rem;
}

.container {
  /* margin: 0 auto; */
  padding: 0 3.2rem;
  max-width: 110rem;
}

.grid {
  display: grid;
  /* row-gap: 9.6rem; */
  /* align-items: center; */
  column-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--cols-02 {
  grid-template-columns: 1fr 1fr;
}

.grid--cols-04 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.step-img {
  width: 30%;
}

.step-number {
  font-size: 8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 3.2rem;
  color: #111;
}

.step-description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 20%;
  padding: 25%;
  background-color: #e6dbdf;
  z-index: -2;
}

.step-img-box::after {
  width: 15%;
  padding: 20%;
  background-color: #f8f6ed;
  z-index: -1;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75;
  margin-bottom: 2.4rem;
  color: #777;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.logos img {
  height: 2.4rem;
  filter: brightness(0);
  opacity: 50%;
}

.grid--cols-03 {
  grid-template-columns: 1fr 1fr 1fr;
}

.section-meals {
  margin-bottom: 6rem;
}

.center-text {
  text-align: center;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals-list {
  padding: 3rem;
}

.meals:hover {
  transform: translateY(2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(199, 90, 90, 0.4);
}

.meals-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.8rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meal-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.meals-img {
  width: 100%;
  /* border-radius: 2.5rem; */
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #b8651b;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

strong {
  font-weight: 500;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetrain {
  background-color: #b2f2bb;
}

.tag--vegan {
  background-color: #37b24d;
}

.tag--paleo {
  background-color: #ffe066;
}

.tag-veg {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
}

.meal-content {
  padding: 2.4rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #944805;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #944805;
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #552902;
  border-bottom: 0.5px solid transparent;
}

.section-textimonial {
  /* margin: 9.6rem 0; */
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.testimonial-container {
  padding: 6.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.2rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item :hover {
  transform: scale(1.2);
}

.section-pricing {
  /* padding: 9.6rem 0; */
}

.plan-header {
  text-align: center;
}

.plan-name {
  color: #944805;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 5.4rem;
  color: #333;
  margin-bottom: 1rem;
}

.plan-text {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  color: #6f6f66;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 1rem;
}

.starting-btn {
  text-align: center;
  margin-top: 3.2rem;
}

.pricing-pan {
  border-radius: 11px;
  width: 75%;
}

.plan-starter {
  justify-self: end;
  padding: 4.8rem;
}

.plan-complete {
  background-color: #fddbf1;
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
}

.plan-complete::after {
  content: "Best Value";
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 5rem;
  background-color: orange;
  position: absolute;
  top: 4%;
  right: -13%;
  transform: rotate(45deg);
}

.further-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.4rem;
  border-radius: 50%;
  background-color: rgb(236, 224, 201);
}

.further-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}

.further-text {
  font-size: 1.6rem;
  line-height: 2rem;
}

.plan-detail {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #333;
  text-align: center;
}

.margin-bottom-hd {
  margin-bottom: 4.8rem !important;
}

.cta {
  margin-top: 9.6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  /* height: 50rem; */
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.heading-secondary {
  color: #2c1601;
}

.cta-text {
  font-size: 1.6rem;
  color: #2c1601;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.cta-img {
  background-image: linear-gradient(to right bottom,
      hsla(28, 80%, 61%, 0.35),
      hsla(28, 80%, 52%, 0.35)),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: cover;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #111;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f5efec;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: rgb(68, 65, 65);
}

.btn-form:hover {
  background-color: #fff;
  color: #111;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(245, 241, 241, 0.445);
}

.grid--cols-05 {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
  padding: 12.8rem 0;
  border-top: 2px solid #ccc;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-header {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #767676;
}

.footer-link:hover,
.footer-link:active {
  color: #111;
}

.footer-icon {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.footer-icons {
  width: 2.4rem;
  height: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.1rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p {
  margin-bottom: 2rem;
}

.container {
  margin: 10rem auto;
}